<launch>  
    <node name="face_velocity_tracker" pkg="ppl" type="velocity_tracker.py" respawn="true" output="screen">
        <remap from="people" to="face_people" />
        <remap from="visualization_marker" to="face_visualization_marker" />
        <remap from="people_tracker_measurements" to="face_people_tracker_measurements" />
    </node>
</launch>
