<launch>

    <arg name="camera" default="camera" />
    <arg name="rgb_ns" default="rgb" />  
    <arg name="depth_ns" default="depth_registered" />
    <arg name="image_topic" default="image_raw" />
    <arg name="depth_topic" default="image_raw" />
    <arg name="fixed_frame" default="camera_depth_frame" />
    <include file="$(find ppl)/launch/openni.launch" />

    <node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" output="screen"
            args="set_from_parameters $(arg camera)/driver">
        <param name="depth_registration" type="bool" value="false" />
    </node>

    <node name="laserscan_kinect" pkg="laserscan_kinect" type="laserscan_kinect" output="screen"> 
	  	<remap from="image" to="/camera/depth/image_raw"/>
	  	<remap from="camera_info" to="/camera/depth/camera_info"/>
      <remap from="scan" to="laserscan_kinect_base_scan"/>
      <rosparam command="load" file="$(find ppl)/config/laserscan_kinect_params.yaml" />
	</node>

</launch>